<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>Shaun's Biography</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
	<header>
		<div class="row">
			<ul class="main-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="quotes.html">Quotes</a></li>
				<li><a href="holidays.html">Holidays</a></li>
				<li><a href="schedule.html">Schedule</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="feedback.html">Feedback</a></li>
				<li><a href="game.html">Game</a></li>
			</ul>
		</div>
	</header>
	<h2>Shape Transformation Game</h2>
	<button id="myBtn" style="height: 200px; width:350px">Play Me!</button>
	<div id="holder"></div>
	<script src="scripts/canvas.js"></script>
	<footer>
		<p> Created by: Shaun Lai</p>
		<p> Contact information: <a href="mailto: shaun.lai@siu.edu">shaun.lai@siu.edu</a></p>
	</footer>
  </body>
</html>