<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>Shaun's Biography</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
	<header>
		<div class="row">
			<ul class="main-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="quotes.html">Quotes</a></li>
				<li><a href="holidays.html">Holidays</a></li>
				<li><a href="schedule.html">Schedule</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="feedback.html">Feedback</a></li>
				<li><a href="game.html">Game</a></li>
			</ul>
		</div>
	</header>
	<section class="picture">
			<h2>Gallery</h2>
			<div class = "row">
				<span><img src = "projectImage.jpeg" type="image/jpeg" alt=""></span> 
				<span><img src = "projectImage2.jpeg" type = "image/jpeg" alt=""></span>
				<span><img src = "projectImage3.jpeg" type = "image/jpeg" alt=""></span>
				<figcaption>New York	||	Thailand	||	Chester</figcaption>
			</div>
	<section>
	<div class="music">
			<h1>Music Player</h1>
			<audio controls autoplay loop>
				<source src = "timeflies.ogg" type="audio/ogg">
				<source src = "timeflies.mp3" type="audio/mp3">
			</audio>
	</div>
	<footer>
		<p> Created by: Shaun Lai</p>
		<p> Contact information: <a href="mailto: shaun.lai@siu.edu">shaun.lai@siu.edu</a></p>
	</footer>
  </body>
</html>