<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>Shaun's Biography</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
	<header>
		<div class="row">
			<ul class="main-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="quotes.html">Quotes</a></li>
				<li><a href="holidays.html">Holidays</a></li>
				<li><a href="schedule.html">Schedule</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="feedback.html">Feedback</a></li>
				<li><a href="game.html">Game</a></li>
			</ul>
		</div>
	</header>
	<h2>Favorite quotes </h2>
	<section class="quote">
		<blockquote cite = "https://www.inc.com/peter-economy/11-elon-musk-quotes-that-will-push-you-to-achieve-impossible.html">
			If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it's not.
			<div><strong> - Elon Musk</strong></div>
			If you go back a few hundred years, what we take for granted today would seem like magic-being able to talk to people over long distances,
			to transmit images, flying, accessing vast amounts of data like an oracle. These are all things that would have been considered magic a few hundred years ago.
			<div><strong> - Elon Musk </strong></div>
		</blockquote>
	</section>
		<footer>
			<p> Created by: Shaun Lai</p>
			<p> Contact information: <a href="mailto: shaun.lai@siu.edu">shaun.lai@siu.edu</a></p>
		</footer>
  </body>
</html>