<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>Shaun's Biography</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
	<header>
		<div class="row">
			<ul class="main-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="quotes.html">Quotes</a></li>
				<li><a href="holidays.html">Holidays</a></li>
				<li><a href="schedule.html">Schedule</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="feedback.html">Feedback</a></li>
				<li><a href="game.html">Game</a></li>
			</ul>
		</div>
	</header>
	<section>
		<table class = "table">
			<colgroup>
				<col>
				<col style = "background-color: green">
				<col style = "background-color: red">
				<col style = "background-color: green">
				<col style = "background-color: red">
				<col style = "background-color: green">
				<col style = "background-color: red">
				<col style = "background-color: green">		
			</colgroup>
			<h2>Daily Schedule</h2>
			<tr>
				<th>Time</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			<tr>
				<td>8:00 AM</td>
				<td rowspan="5">Work</td>
				<td rowspan="5">Work</td>
				<td rowspan="5">Work</td>
				<td rowspan="5">Work</td>
				<td rowspan="5">Work</td>
				<td>Wake Up</td>
				<td>Wake Up</td>
			</tr>
			<tr>
				<td>9:00 AM</td>
				<td>Breakfast</td>
				<td>Breakfast</td>
			</tr>
			<tr>
				<td>10:00 AM</td>
				<td rowspan="4">Entertainment</td>
				<td rowspan="4">Entertainment</td>
			</tr>
			<tr>
				<td>11:00 AM</td>
			</tr>
			<tr>
				<td>12:00 PM</td>
			</tr>
			<tr>
				<td>1:00 PM</td>
				<td rowspan = "3">Rest</td>
				<td rowspan = "3">Rest</td>
				<td rowspan = "3">Rest</td>
				<td rowspan = "3">Rest</td>
				<td rowspan = "3">Rest</td>
			</tr>
			<tr>
				<td>2:00 PM</td>
				<td rowspan ="2">Lunch</td>
				<td rowspan ="2">Lunch</td>
			</tr>
			<tr>
				<td>3:00 PM</td>
			</tr>
			<tr>
				<td>4:00 PM</td>
				<td rowspan ="3">Gym</td>
				<td rowspan ="3">Sports</td>
				<td rowspan ="3">Gym</td>
				<td rowspan ="3">Sports</td>
				<td rowspan ="3">Gym</td>
				<td rowspan ="3">Hangout</td>
				<td rowspan ="3">Hangout</td>
			</tr>
			<tr>
				<td>5:00 PM</td>
			</tr>
			<tr>
				<td>6:00 PM</td>
			</tr>
			<tr>
				<td>7:00 PM</td>
				<td rowspan = "3">Study/Homework</td>
				<td rowspan = "3">Study/Homework</td>
				<td rowspan = "3">Study/Homework</td>
				<td rowspan = "3">Study/Homework</td>
				<td rowspan = "3">Study/Homework</td>
				<td rowspan = "3">Video Gaming</td>
				<td rowspan = "3">Video Gaming</td>
			</tr>
			<tr>
				<td>8:00 PM</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>9:00 PM</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>10:00 PM</td>
				<td>Sleep</td>
				<td>Sleep</td>
				<td>Sleep</td>
				<td>Sleep</td>
				<td>Sleep</td>
				<td>Sleep</td>
				<td>Sleep</td>
			</tr>
		</table>	
		<footer>
			<p> Created by: Shaun Lai</p>
			<p> Contact information: <a href="mailto: shaun.lai@siu.edu">shaun.lai@siu.edu</a></p>
		</footer>
  </body>
</html>